.main-content.wrap-row-start-start.h100.w100(data-ng-init="init(#{!current_user.nil?})")
  .row-start-start.w100
    .main-title.row-center-center.w100= t('main.currencies')
  .row-center-start.w100
    .table-content.row-center-start.h100.w100
      %table.table
        %thead
          %th= t("main.currency")
          %th= t("main.country")
        %tbody
          - @currencies.each do |currency|
            %tr(data-currency-item data-ng-init="init(#{currency.exist?},#{currency.id})")
              %td.col-md-5.column-start-start
                .row-start-center
                  .currency.name.item(ng-class='class.text')
                    = currency.name
                  .currency.code.item(ng-class='class.text')
                    = currency.code
              %td.col-md-5.column-start-start
                - currency.countries.each do |country|
                  .row-start-center(data-country-item data-ng-init="init(#{country.visited})")
                    .country.name.item(ng-class='class.text')
                      = country.name
                    .country.code.item(ng-class='class.text')
                      = country.code
                    .control-button(ng-if="show_control")
                      %span.glyphicon.glyphicon-remove.pointer(ng-if="visited" ng-click="visitFalse(#{country.id})")
                      %span.glyphicon.glyphicon-ok.pointer(ng-if="!visited" ng-click="visitTrue(#{country.id})")