.column-start-center
  %h2 Log in
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field.form-group
      = f.label :email
      %br/
      = f.email_field :email, class: 'form-control', autofocus: true
    .field.form-group
      = f.label :password
      %br/
      = f.password_field :password, class: 'form-control', autocomplete: "off"
    .actions.form-group.row-center-center
      = f.submit "Log in", class: 'btn'